hr{
    margin: 0px;
}

#panorama{
    position: absolute;
    width: 100%!important;
    height: 360px;
    background-image: url('/img/panorama.png');
    background-size: cover;
}

.profile-info{
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 35px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.profile-image{
    width: 152px;
    height: 152px;
    position: relative;
    bottom: 45%;

    img{
        width: 152px;
        height: 152px;
        border-radius: 8px;
    }
}

.profile-image-container{
    margin: 19px 24px 0px;
    bottom: 35%;
    position: relative;
}

.profile-data{
    width: 100%!important;
}

.follow-btn{
    background: #2F80ED;
    padding: 8px 24px 8px 18px;
    color: #FFFFFF;
    margin-right: 24px;
    outline: none;
    border: none;
    border-radius: 4px;
    max-height: 40px;

    div{
        position: relative;
        bottom: 10px;

        img{
            position: relative;
            bottom: 2px;
            filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(216deg) brightness(97%) contrast(108%);
        }
    }
}

.followers-info{
    width: 100%;
    margin-top: 20px
}

.gray{
    color: #333333;
}

main{
    position: relative;
    top: 300px;
}

.side-nav{
    width: 20%;
    justify-self: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 24px;
    height: fit-content;

    .nav-link.active{
        border: none;
        border-left: #2F80ED solid 3px;
        border-radius: 4px;
    }
}

.container.posts{
    margin-top: 25px;
}

.light-gray{
    color: #BDBDBD;
}

.posts-container{
    width: 100%;
}

.post-container{
    margin: 20px;
}

.post{
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px!important;
    margin-bottom: 35px;
}

.post-author{
    .d-flex{
        margin-left: 18px;

        h6{
            margin-bottom: 2px;
        }
    }
}

.small-text{
    font-size: 12px;
}

.post-description{
    margin-top: 22px;
    color:#4F4F4F;
    font-size: 16px;
}

.post-thumbnail{
    margin-top: 19px;

    img{
        width: 100%;
        border-radius: 8px;
        max-height: 330px;
        overflow: hidden;
    }
}

.post-rate{
    span{
        margin: 12px 14px 23px 14px;
        
        &:last-child{
            margin-right: 0px;
        }
    }
}

.post-rate{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 12px;
    color: #BDBDBD;
}

.post-button{
    outline: none;
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 500;
    padding: 11px 35px 11px 35px;
    border-radius: 8px;

    &:hover{
        background: #F2F2F2;
    }

    span{
        margin-left: 10px;
    }
}

.post-button.active{
    &.retweet-btn{
        color: #27AE60;
        img{
            filter: invert(51%) sepia(24%) saturate(1265%) hue-rotate(93deg) brightness(104%) contrast(85%);
        }
    }

    &.like-btn{
        color: #EB5757;
        img{
            filter: invert(48%) sepia(45%) saturate(855%) hue-rotate(314deg) brightness(94%) contrast(95%);
        }  
    }

    &.save-btn{
        color: #2D9CDB;
        img{
            filter: invert(45%) sepia(100%) saturate(379%) hue-rotate(157deg) brightness(100%) contrast(91%);
        }
    }
}

.post-reply{
    margin-top: 15px;
    margin-bottom: 4px;

    input{
        outline: none;
        background: #FAFAFA;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        box-sizing: border-box;
        width: 100%;
        margin-left: 16px;
        padding: 10.5px 12px;
        font-size: 14px;

        &::placeholder{
            font-family: 'Noto Sans';
            font-weight: 500;
            font-size: 14px;
            color: #BDBDBD;
        }
    }
}

.post-reply + hr{
    margin-top: 4px;
    color:#F2F2F2;
}

.post-comment{
    margin-top: 20px;
}

.post-comment-body{
    background: #FAFAFA;
    border-radius: 8px;
    width: 100%;
}

.post-comment-avatar{
    margin-right: 10px;
}

.post-comment-author > h6{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    margin-right: 15px;
}

.post-comment-body-container{
    padding: 10px 15px 15px 22px;
}

.post-comment-content{
    width: 80%;
}

.post-comment-rate{
    width: 100%;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 12px;
    color: #BDBDBD;

    button{
        outline: none;
        border: none;
        background-color: #ffffff;
        border-radius: 8px;
        color: inherit;

        img{
            position: relative;
            bottom: 2px;
        }
    }
}

.post-comment-likes-counter{
    margin-left: 8px;
    margin-top: 1px;

    &::before{
        content: '';
        width: 4px;
        height: 4px;
        display: inline-block;
        background: #BDBDBD;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        bottom: 3px;
    }
}

.like-button.active{
    color: #EB5757;

    img{
        filter: invert(48%) sepia(45%) saturate(855%) hue-rotate(314deg) brightness(94%) contrast(95%);
    }
}

.follower-counters{
    width: 60%;
}

.dark {
    color: #000000;
}

.light{
    color: #828282;
}

.profile-desc{
    width: 40%;
}

.white-bg{
    background-color: #ffffff;
}

.half-panel{
    width: 100%;
    height: 50%;
    z-index: 1;
    position: absolute;
    bottom: -0.5%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.post-author{
    .user-avatar{
        margin-left: 0px;
    }

    .dropdown-toggle{
        margin-left: 0px;
        font-family: 'Noto Sans';
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        
        &::after{
            align-self: center;
        }
    }

    .dropdown-item{
        width: 80%;
    }
}

@media (max-width: 1010px)
{
    main{
        top: 200px;
    }
    

    .d-none-1000{
        display: none!important;
    }

    .d-flex-1000{
        display: flex!important;
    }

    .profile-image{
        z-index: 2;
    }

    .profile-info{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 24px;
        flex-direction: column!important;
        justify-content: center;

        .profile-image-container{
            display: flex;
            justify-content: center;
            bottom: 14%;
        }

        .followers-info{
            margin: 0px;
            word-wrap: no-wrap;

            h5{
                font-size: 24px;
                align-self: center;
            }
        }

        .followers-info-container{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
            width: 100%!important;
            justify-content: space-around!important;
        }

        .follow-btn-lg{
            display: none!important;
        }

        .follow-btn-sm{
            display: flex!important;
            width: fit-content;
            align-self: center;
        }

        .follower-counters{
            width: 100%;
            justify-content: center!important;

            & > p:first-child{
                margin-right: 40px;
            }

            & > p{
                margin-bottom: 14px;
            }
        }

        .profile-desc{
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 18px;
        }
    }

    .posts{
        flex-direction: column;
    }

    .side-nav{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .container.posts{
        margin-top: 0px;
    }
}

@media (max-width: 768px){
    .post-button{
        span{
            display: none;
        }
    }
}