<div class="post" th:fragment="post">
    <div class="post-container">
        <div class="post-author d-flex">
            <div class="post-autor-avatar">
                <img th:src="@{${postAuthor.avatarImagePath}}" alt="" width="40px" height="40px">
            </div>
            <div class="d-flex flex-column">
                <div class="dropdown d-inline-flex flex-column justify-content-center">
                    <a class="dropdown-toggle poppins-600 d-flex" href="#" role="button" th:id="'dropdown-' + ${post.id}"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <h6 th:text="${postAuthor.fullName}"></h6>
                    </a>
                    <ul class="dropdown-menu" th:attr="aria-labelledby='dropdown-'+${post.id}">
                        <li>
                            <a class="dropdown-item d-flex" th:href="@{/edit-post}">
                                <img src="/img/edit.svg" alt="" class="dropdown-item-icon" width="24px" height="24px">
                                <span>Edit</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="logout d-flex dropdown-item" th:href="@{/delete-post/{id}(id=${post.id})}">
                                <img src="/img/delete.svg" alt="" class="dropdown-item-icon" width="24px" height="24px">
                                <span>Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="small-text light-gray" th:text="${{post.createdTime}}"></span>
            </div>
        </div>

        <div class="post-description">
            <span class="noto" th:text="${post.content}"></span>
        </div>

        <div class="post-thumbnail" th:if="${not #strings.isEmpty(post.imagePath)}">
            <img th:src="@{${post.imagePath}}" alt="">
        </div>

        <div class="post-rate d-flex justify-content-end">
            <span th:text="${post.getLikes().size()} + ' Likes'"></span>
            <span th:text="${post.getComments().size()} + ' Comments'"></span>
            <span>59k Retweets</span>
            <span>234 Saved</span>
        </div>

        <div class="post-buttons d-flex justify-content-around">
            <button class="post-button comment-btn">
                <img src="/img/comment.svg" alt="" width="20px" height="20px">
                <span th:class="'comments-counter-'+${post.id}" th:text="${post.getComments().size()} + ' Comments'"></span>
            </button>
            <a th:href="@{/retweet/{id}(id=${post.id})}">
                <button class="post-button retweet-btn">
                    <img src="/img/refresh.svg" alt="" width="32px" height="32px">
                    <span>Retweeted</span>
                </button>
            </a>
            <button class="post-button like-btn" th:attr="data-post-id=${post.id}">
                <img src="/img/like.svg" alt="" width="32px" height="32px">
                <span>Like</span>
            </button>
            <a th:href="@{/save/{id}(id=${post.id})}">
                <button class="post-button save-btn">
                    <img src="/img/bookmark.svg" alt="" width="25px" height="25px">
                    <span>Saved</span>
                </button>
            </a>
        </div>

        <div class="post-reply d-flex">
            <div class="replyer-avatar">
                <img th:src="@{${currentUser.avatarImagePath}}" alt="" width="40px" height="45px">
            </div>
            <input th:attr="data-post-id=${post.id}" class="post-reply-content" type="text" placeholder="Tweet your reply">
        </div>

        <hr>
        <div th:classappend="'post-comments-'+${post.id}" class="post-comments">
            <div class="post-comment d-flex" th:each="comment : ${post.getComments()}" th:include="fragments/comment :: comment">
            </div>
        </div>
    </div>
</div>