<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout_form}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
      <div class="header fixed-top">
        <header th:replace="fragments/header :: header('true', 'true', 'true')"></header>
      </div>
      <!-- Panorama -->
      <div id="panorama" th:style="'background-image:url(' + @{${user.user.photosImagePath}} + ');'" th:attr="data-user-id=${user.user.id}"></div>
        <main th:attr="data-profile-id=${user.user.id}">
          <div class="container position-relative">
            <div class="white-bg half-panel"></div>
            <div class="profile-image-container d-none d-flex-1000 justify-content-center">
              <div class="profile-image">
                <img class="avatar" th:src="@{${user.user.avatarImagePath}}" alt="" th:attr="data-user-id=${user.user.id}">
              </div>
            </div>
          </div>
          <div class="container profile-info d-flex">
              <div class="profile-image-container d-none-1000">
                <div class="profile-image">
                  <img class="avatar" th:src="@{${user.user.avatarImagePath}}" alt="" th:attr="data-user-id=${user.user.id}">
                </div>
              </div>

              <div class="d-flex flex-column followers-info">
                <div class="d-flex justify-content-between followers-info-container">
                  <div class="d-flex justify-content-around followers-info-container" style="width: 60%;">
                    <h5 class="poppins-600" th:text="${user.user.fullName}" th:attr="data-user-id=${user.user.id}"></h5>

                    <div class="d-flex justify-content-around follower-counters">
                      <p class="poppins-500 gray light" th:text="${followers.size()} + ' Followers'"></p>
                      <p class="poppins-500 gray light" th:text="${followings.size()} + ' Following'"></p>
                    </div>
                  </div>

                  <button th:unless="${isCurrentUser or user.isFollowed}" class="follow-btn follow-btn-lg" th:attr="data-user-id=${user.user.id}">
                    <img src="/img/follow.svg" alt="" width="48px" height="48px">
                    <span>Follow</span>
                  </button>
                  <button th:if="${!isCurrentUser and user.isFollowed}" class="follow-btn follow-btn-lg">
                    <span>Followed</span>
                  </button>

                </div>
                <div class="profile-desc" th:attr="data-user-id=${user.user.id}">
                  <span class="light" th:text="${user.user.description}"></span>
                </div>

                <button th:unless="${isCurrentUser or user.isFollowed}" type="submit" class="d-none follow-btn follow-btn-sm" th:attr="data-user-id=${user.user.id}">
                  <img src="/img/follow.svg" alt="" width="48px" height="48px">
                  <span>Follow</span>
                </button>
                <button th:if="${!isCurrentUser and user.isFollowed}" type="submit" class="d-none follow-btn follow-btn-sm">
                  <span>Followed</span>
                </button>
              </div>
          </div>

            <div class="container posts d-flex">
              <div class="d-flex side-nav">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a role="button" class="nav-link user-followers-btn" th:attr="data-user-id=${user.user.id}" th:href="@{/followers}">Followers</a>
                  </li>
                  <li class="nav-item">
                    <a role="button" class="nav-link user-followings-btn" th:attr="data-user-id=${user.user.id}" th:href="@{/followings}">Followings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/likes}">Likes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/saved}">Saves</a>
                  </li>
                </ul>
              </div>

              <div class="d-flex flex-column posts-container" th:with="postAuthor = ${user.user}" th:insert="fragments/posts :: posts"></div>
            </div>
        </main>
      <footer class="d-flex justify-content-center mt-auto mb-2">
        <span>&copy; Created by Yarmacho </span>
      </footer>
        <script src="/js/likes.js"></script>
        <script src="/js/comment.js"></script>
        <script src="/js/modals.js"></script>
        <script src="/js/follow.js"></script>
        <script src="/js/saveTweet.js"></script>
        <script src="/js/retweet.js"></script>
        <script src="/js/sockjs.js"></script>
        <script src="/js/stomp.js"></script>
        <script src="/js/stomp-init.js"></script>
        <script src="/js/profile-stomp.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>